.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
app/animalssounds.keystore
app/src/main/res/drawable/dontknow
app/src/main/res/drawable/yossi
app/src/main/res/drawable/noa
app/src/main/res/drawable/wikipedia
